.user{
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #20212f , #3b3d5e);
    margin-bottom: 1px;
    padding: 20px;
}

.userAvatar{
    margin-left: 50px;
    border-radius: 50%;
}

.userInfo{
    color: white;
    padding-left: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.payButton{
    padding-right: 100px;
}

.payButton button{
    font-size: 16px;
    width: 70px;
    height: 25px;
}

.payButton button:hover{
    cursor: pointer;
}