*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html, body{
    height: 100%;
}

.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    flex-direction: column;
}

.modalHeader{
    background-color: #474a6e;
    color: white;
    font-size: 24px;
    height: 60px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalHeader > p{
    padding-left: 50px;
}

.modalHeader > .closeBtn{
    margin-right: 20px;
    padding: 5px;
}

.closeBtn:hover{
    cursor: pointer;
}

.modalBody{
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalBody > input, select{
    padding: 10px;
    margin: 10px;
    width: 60%;
}

.modalBody > button{
    padding: 10px;
    margin: 10px;
}

.modalBody > button:hover{
    cursor: pointer;
}

.paymentStatus{
    padding: 40px;
}

.username{
    color: #d1da59;
}